@import url('https://fonts.googleapis.com/css2? family= Anton & family= Bebas+Neue & family= Fascinate & family= Inter:wght@300 & family= Kdam+Thmor+Pro & family= Montserrat & family= Outfit:wght@400;700 & family= Poppins:wght@400;500;600;700 & family= Vollkorn:ital@1 & display=swap');

*{
    margin: 0;
    padding: 0; 
}
:root{
    --cor0:hsl(0, 100%, 74%) ;
    --cor1:hsl(154, 59%, 51%);
    --cor2:hsl(248, 32%, 49%);
    --cor3:hsl(249, 10%, 26%);
    
}
body{
    background: hsl(0, 100%, 74%) url(images/bg-intro-desktop.png) no-repeat ;
    
    box-sizing: border-box;
    
    Font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    
    height: 100vh;
    
    justify-content: space-around;
    
    margin: 0 auto;
   
    width: 100vw;
}
.conteudo-texto{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 40vw;
}
.titulo{
    color: #fff;
    
    font-size: 1.5em;
    font-weight: 700;
    
    padding-bottom: 20px;
    
    text-align: left;
}
.paragrafo-principal{
    color: #fff;
    text-align: justify;
}
.conteudo-formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 50vw;
}
.dados-formulario{
    align-items: center;
    
    background: #fff;
    
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
    
    padding: 10% 5%;
    width: 90%;
}

.botao{
    background-color: hsl(247, 32%, 48%);
    
    border: none;
    border-radius: 5px;
    
    color: #fff;
    
    cursor: pointer;
    
    line-height: 1.5em;
    
    margin-bottom: 10px;
    padding: 10px 5px;
    
    width: 100%;
}
.botao:active{
    background-color:#fff;
    color: var(--cor2) ;
}
.campo-entrada{
    border: 1px solid var(--cor3);
    border-radius: 5px;
    
    cursor: pointer;
    
    line-height: 1.5em;
   
    margin-bottom: 10px;
    padding: 10px 5px;
    
    text-indent: 10px;
    
    width: 80% ;
}
.campo-entrada::placeholder, .submit::placeholder{
    color: var(--cor3);
    
    font-weight: 600;
    
    text-indent: 10px;
}
.submit{
    background-color: var(--cor1);
    border: 1px solid var(--cor1);
    border-radius: 5px;

    box-sizing: content-box;
    
    color: #fff;
    
    cursor: pointer;
    
    font-weight: 700;
    line-height: 1.5em;
    
    margin-bottom: 10px;
    padding: 10px 5px;
    width: 80%;
    
    text-indent: 10px;
    text-align: center;
    text-transform: uppercase;

}
.submit:active{
    background-color: #fff;
    color: var(--cor1);
}
.paragrafo{
    color: var(--cor3);
}
.link{
    color: var(--cor0);
    text-decoration: none;
}
@media screen and  (max-width: 414px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .conteudo-texto, .conteudo-formulario{
        margin: 0 auto;
        width: 90%;
    }
    
}

    
